// FONTS
// $display: 'FontName', sans-serif /* declare font variables here */
$default-sans: sans-serif
$base-font-size: 16px

$doc-line-height: 1.4

$heavy: 700
$bold: 600
$medium: 500
$regular: 400
$light: 300

// BREAKPOINTS
$breakpoint-medium: 490px
$breakpoint-large: 1280px

// COLORS
$black: #3c3c3c
$white: #ffffff
$lt-grey: lighten($black, 65%)
$grey: lighten($black, 35%)
$med-grey: darken($lt-grey, 25%)
$dk-grey: lighten($black, 10%)
$transparent: transparent
$overlay: rgba(255,255,255,.8)

$border: 1px solid $black

// Z index
$header-z: 100

// Measurements
$max-width: 96rem
$mega-max-width: 1400px
$hundred: 100%
$max-line-length: 55rem

// -> Header & Navbar:
$header-height: 8rem

// -> Footer
$footer-height-desk: 12rem

// Padding
$single-pad: 2rem
$double-pad: $single-pad * 2

// Font Sizing
$h1-size: 4rem
$h2-size: 3rem
$h3-size: 2.5rem
$h4-size: 2rem
$h5-size: 1.5rem
$p-size: 1.25rem

$big-tracking: 2px
