// FLEX MIXINS
=flex
  display: flex

=flex-row
  +flex
  flex-direction: row

=flex-column
  +flex
  flex-direction: column

/* Flex Row on desk to column on smaller viewports */
=flex-row-to-column
  +flex
  flex-direction: column
  +large
    flex-direction: row

// UTILS
=ratio($width, $height)
	display: block
  position: relative
  width: 100%
  height: 0
  overflow-y: visible
	padding-bottom: ($height / $width) * 100%

=fixchop
	transform: translateZ(0)
	backface-visibility: hidden
	perspective: 1000

=bg-init
  background-position: center
  background-repeat: no-repeat

=bg-cover
  +bg-init
  background-size: cover

=bg-contain
  +bg-init
  background-size: contain

=max-width-center
  width: 100%
  max-width: $max-width
  margin: 0 auto

// TYPE

=FontDisplay($weight : 'regular')
  font-family: Arial, Helvetica, sans-serif
  font-stretch: normal
  font-style: normal
  @if $weight == 'light'
    font-weight: 200
  @else if $weight == 'regular'
    font-weight: 400
  @else if $weight == 'medium'
    font-weight: 500
  @else if $weight == 'bold'
    font-weight: 700

=button-init
  border: 0
  background-color: $transparent
  -webkit-appearance: none
  -webkit-tap-highlight-color: transparent
  border-radius: 0
  padding: 0
  cursor: pointer

=opacity-transition
  transition: opacity 250ms ease

@keyframes fadeIn
  from
    opacity: 0
  to
    opactiy: 1

=fade-in($delay : 250ms, $speed : 750ms)
  animation:
    name: fadeIn
    fill-mode: both
    duration: $speed
    delay: $delay

=absolute-center
  display: block
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  margin: auto

=hover-underline
  position: relative
  display: block
  flex-grow: 0
  flex-shrink: 0
  display: inline-flex
  line-height: 1
  &:after
    content: ''
    border-bottom: 1px solid $lt-grey
    opacity: 0
    transition: opacity 350ms ease
    position: absolute
    bottom: 0
    left: 0
    width: 100%
  &:hover
    &:after
      opacity: 1
